<div>
    <div class="multiselect-left">
        <select ng-model="unselectedItems" multiple="multiple">
            <option ng-repeat="c in unselected" value="{{c.id}}" >{{c.name}}</option>
        </select>
    </div>

    <div class="ui-multiselecttransfer-actions multiselect-actions">
        <a class="btn move-right" href="javascript:void(0)" ng-click="select()">&lt;-</a>
        <a class="btn move-left" href="javascript:void(0)" ng-click="unselect()">-&gt;</a>
        <a class="btn select-all" href="javascript:void(0)" ng-click="selectall()">Select all</a>
        <a class="btn unselect-all" href="javascript:void(0)" ng-click="unselectall()">Unselect all</a>
    </div>

    <div class="multiselect-right">
        <select ng-model="selectedItems" multiple="multiple">
            <option ng-repeat="c in selected" value="{{c.id}}" >{{c.name}}</option>
        </select>
    </div>
</div>
